{
  "openapi": "3.0.2",
  "info": {
    "title": "DPF-APIリファレンスマニュアル",
    "version": "1.0",
    "contact": {
      "name": "IIJ サポートセンター",
      "url": "https://help.iij.ad.jp/"
    },
    "description": "# 1. はじめに\n\n## 1.1 DPF-APIについて\nIIJ DNSプラットフォームサービスでは、DNSレコードやゾーン情報などを、\\\nお客様が用意したプログラムから自動的に操作するためのAPI機能を提供しています。\\\n以降、IIJ DNSプラットフォームサービスを「DPF」、DPFが提供するAPIを「DPF-API」あるいは単に「API」と表記します。\\\nDPF-APIの利用には、DPFの契約とIIJ IDサービスの契約が必要となります。\n\n本リファレンスマニュアルは[**OpenAPI**](https://www.openapis.org/)に準拠しています。\n\nこのWEBページはopenapi.jsonから自動生成しています。**このWEBページとopenapi.jsonの内容が異なる場合は、openapi.jsonの内容を正とします。**\nopenapi.jsonは、上部のDownloadボタンからダウンロードできます。\n\n## 1.2 サポート範囲\nDPF-APIを呼び出すためのプログラム、及びそのプログラムを稼働させるためのサーバは、お客様にてご用意ください。\\\nお客様にご用意いただくプログラムの開発、利用、動作についてのお問い合わせは承ることができません。\n\n以下の事項についてのお問い合わせは、弊社[**サポートセンター**](https://help.iij.ad.jp/)にて承ります。\n- DPF-APIの挙動が本リファレンスマニュアルと異なる場合\n- DPF-APIがシステムエラーを応答した場合\n\n## 1.3 参考資料\n- IIJ DNSプラットフォームサービス オンラインマニュアル\n  - [https://manual.iij.jp/dpf/help/](https://manual.iij.jp/dpf/help/)\n\n- IIJ IDサービス オンラインマニュアル\n  - [https://manual.iij.jp/iid/admin-help/](https://manual.iij.jp/iid/admin-help/)\n\n# 2. 利用方法\nDPF-APIは、URLとHTTPリクエストヘッダ、HTTPリクエストボディでパラメータを指定して利用します。\\\nまた、IIJ IDサービスのアクセストークンと管理対象の権限設定が必要です。\n\n## 2.1 リクエスト仕様\n\n項目 | 規格\n-----|-----\nプロトコル | HTTP/1.1、HTTP/2（https）\nHTTPメソッド | GET、POST、PATCH、PUT、DELETE\nフォーマット | JSON\n文字コード | UTF-8\nタイムアウト | 300秒\n\n- httpでのリクエストは受け付けません。必ずhttpsを使用してください。\n- DPF-APIを呼び出すプログラムは、リクエスト先が正当なものであることを確認するため、SSL証明書を検証することを推奨します。\n- 短期間に極めて多数のリクエストが行われた場合、サービスの健全性を保つためにリクエストを制限する場合があります。\n\n### アクセストークン\nAPIリクエストの際にIIJ IDサービスによって発行されたアクセストークンをAuthorizationヘッダに指定する必要があります。\\\n各APIにより必要となるアクセス権の範囲（許可するスコープ）が異なるのでご注意ください。\n\nアクセストークン作成時に指定できる「許可するスコープ」は以下のとおりです。\n\n許可するスコープ | 実行できるAPI\n-----------------|------------\ndpf_read | 参照系API\ndpf_write | 更新系、及び参照系API\ndpf_contract | 契約系API\n\n発行済のアクセストークンは、[**IIJ IDサービス**](https://www.auth.iij.jp/console/)の「アクセストークンの管理」より確認できます。\\\nDPF-APIを利用する場合は「利用するリソースサーバ」の設定で「IIJ DNSサービスAPI」を選択してください。\\\nアクセストークン管理方法のマニュアルは[**こちら**](https://manual.iij.jp/iid/admin-help/9054382.html)を参照してください。\n\n### 管理対象の権限設定\nDPFでは、管理対象となる契約単位での参照、編集権限を細かく設定できます。\\\nアクセストークンの許可するスコープが適切であっても、管理対象の権限が付与されていない場合はAPIを実行できません。\\\n管理対象の権限設定のマニュアルは[**こちら**](https://manual.iij.jp/dpf/help/19004706.html#IIJID%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%81%A8%E9%80%A3%E6%90%BA%E3%81%99%E3%82%8B-IIJID%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%82%A2%E3%82%AB%E3%82%A6%E3%83%B3%E3%83%88%E3%81%B8%E7%AE%A1%E7%90%86%E6%A8%A9%E9%99%90%E3%82%92%E4%BB%98%E4%B8%8E%E3%81%99%E3%82%8B)を参照してください。\n\n## 2.2 HTTPリクエスト\n\n### 例\n```\n<HTTPメソッド> /dpf/<version>/<APIパス> HTTP/1.1\nHost: api.dns-platform.jp\nAuthorization: Bearer <access_token>\nContent-Type: application/json; charset=UTF-8\n\n<HTTPリクエストボディ: JSON形式のAPI固有のパラメータ>\n```\n\n### リクエストパラメータ\nDPF-APIで指定するパラメータは以下のとおりです。\\\nリクエストパラメータに同一のキーが含まれる場合の動作は保証されません。\n\n共通 | 指定箇所 | パラメータ | 意味\n-----|----------|------------|-----\n共通 | HTTPメソッド | HTTPメソッド | HTTPメソッド（値：GET、POST、PATCH、PUT、DELETE）\n共通 | URL | version | DPF-APIバージョン（値：v1）\n個別 | URL | APIパス | API名称やAPI個別のパラメータの組み合わせ\n共通 | HTTPヘッダー | access_token | IIJ IDアクセストークン（参照：[**IIJ IDサービス**](https://www.auth.iij.jp/console/)）\n個別 | HTTPボディ | APIごとに異なる | JSON形式のパラメータ\n\n## 2.3 HTTPレスポンス\n\n### 成功レスポンス\nAPIごとにレスポンスが異なります。\n\n### エラーレスポンス\nHTTPステータスコード、及びレスポンスボディによってクライアントプログラムにエラーを通知します。\n\n#### 例：アクセストークンが誤っている\n```\n{\n  \"request_id\": \"782d746ac3cb46499b31708fa80e8660\",\n  \"error_type\": \"ParameterError\",\n  \"error_message\": \"There are invalid parameters.\",\n  \"error_details\": [\n    {\n      \"code\": \"invalid\",\n      \"attribute\": \"access_token\"\n    }\n  ]\n}\n```\n\n#### エラーコード一覧\nHTTP Status Code | error_type | error_message | code | attribute | 説明 | 対処方法\n-----------------|------------|---------------|------|-----------|------|---------\n400 | ParameterError | There are invalid parameters. | invalid | access_token | 指定したアクセストークンに誤りがあります | アクセストークンを確認してください\n400 | ParameterError | JSON parse error occurred. | - | - | パラメータとして不正なJSON文字列が指定されました | リクエストのパラメータを確認してください\n400 | ParameterError | There are invalid parameters. | （API個別） | （API個別） | 不正なパラメータが指定されました | 各APIのエラーコードを確認してください\n404 | NotFound | Specified resource not found. | - | - | アクセスURLが正しくありません <br> 存在しないAPIが指定されました <br> 指定された以外のHTTPメソッドが指定されました | 左記の内容を確認してください\n429 | TooManyRequests | Too many requests. | - | - | 大量のAPIリクエストが送信されました | 単位時間当たりのAPIリクエスト数が多いため、リクエスト数を抑えてください\n500 | SystemError | System error occurred. | - | - | システム障害が発生しました | [**サポートセンター**](https://help.iij.ad.jp/)へお問い合わせください<br>お問い合わせの際にリクエストの詳細時間及びrequest_idをお伝えください\n503 | ServiceUnavailable | Service unavailable. | - | - | メンテナンス中もしくはアクセスが集中しています | しばらく待ってから再度リクエストしてください<br>メンテナンス内容についてはサービスオンラインでご確認ください\n504 | GatewayTimeout | Gateway timeout. | - | - | リクエストがタイムアウトしました | しばらく待ってから再度リクエストしてください\n\n## 2.4 非同期リクエスト\n\nDPF-APIにおけるGET以外のAPIは全て非同期APIです。\\\n非同期APIはリクエストを受け付けると即座にレスポンスを返却しますが、\\\nリクエストに対する実際の処理は非同期で行われます。\n\n非同期リクエストの受け付けに成功した場合のHTTPステータスコードは202で、\\\n返却されたレスポンスボディには、処理進捗を確認するためのURL（jobs_url）が含まれます。\\\nこのjobs_urlに対してGETリクエストをすることで進捗状況を確認できます。\n\n進捗状況を確認した際、非同期処理が正常に終了していた場合は、\\\n返却されたレスポンスボディには、対象リソースを取得するためのURL（resources_url）が含まれます。\\\nこのresources_urlに対してGETリクエストをすることで実行結果を確認できます。\n\n### 例\n#### 非同期リクエストのレスポンス\n```\nHTTP/1.1 202 Accepted\nDate: Mon, 26 Mar 20XX hh:mm:dd GMT\nContent-Type: application/json; charset=utf-8\n〜 略 〜\n\n{\n  \"request_id\": \"782d746ac3cb46499b31708fa80e8660\",\n  \"jobs_url\": \"https://api.dns-platform.jp/dpf/<version>/jobs/<request_id>\"\n}\n```\n\n#### GETリクエスト\n```\nGET /dpf/<version>/jobs/<request_id> HTTP/1.1\nHost: api.dns-platform.jp\nAuthorization: Bearer <access_token>\nContent-Type: application/json; charset=UTF-8\n\n{}\n```\n\n#### 進捗状況のレスポンス\n```\nHTTP/1.1 200 OK\nDate: Mon, 26 Mar 202X hh:mm:dd GMT\nContent-Type: application/json; charset=utf-8\n〜 略 〜\n\n{\n  \"request_id\": \"782d746ac3cb46499b31708fa80e8660\",\n  \"resources_url\": <resources_url>,\n  \"status\": \"SUCCESSFUL\"\n}\n```\n"
  },
  "servers": [
    {
      "url": "https://api.dns-platform.jp/dpf/v1",
      "description": "API endpoint"
    }
  ],
  "paths": {
    "/common_configs/{CommonConfigId}/cc_primaries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        }
      ],
      "get": {
        "operationId": "getCcPrimaryList",
        "summary": "プライマリネームサーバ設定の一覧取得",
        "description": "プライマリネームサーバの設定の一覧を取得します。\n",
        "tags": [
          "cc_primaries"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcPrimaries"
                },
                "examples": {
                  "GetCcPrimaries": {
                    "$ref": "#/components/examples/GetCcPrimaries"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postCcPrimary",
        "summary": "プライマリネームサーバ設定の作成",
        "description": "新しくプライマリネームサーバを作成します。\\\n作成できる最大件数は5件です。\n",
        "tags": [
          "cc_primaries"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCcPrimary"
              },
              "examples": {
                "PostCcPrimaries": {
                  "$ref": "#/components/examples/PostCcPrimary"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | tsig | 指定したTSIG鍵を確認してください\ninvalid | address | 指定したaddressを確認してください\ntoo_many | address | 登録の上限数を超えています\nduplicated | address | 既に登録されています\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common_configs/{CommonConfigId}/cc_primaries/{CcPrimaryId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        },
        {
          "$ref": "#/components/parameters/CcPrimaryId"
        }
      ],
      "get": {
        "operationId": "getCcPrimary",
        "summary": "プライマリネームサーバ設定の取得",
        "description": "指定したCcPrimaryIdのプライマリネームサーバを取得します。\n",
        "tags": [
          "cc_primaries"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcPrimary"
                },
                "examples": {
                  "GetCcPrimary": {
                    "$ref": "#/components/examples/GetCcPrimary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_primary | 指定したCcPrimaryIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchCcPrimary",
        "summary": "プライマリネームサーバ設定の更新",
        "description": "指定したCcPrimaryIdのプライマリネームサーバを更新します。\n",
        "tags": [
          "cc_primaries"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCcPrimary"
              },
              "examples": {
                "PatchCcPrimary": {
                  "$ref": "#/components/examples/PatchCcPrimary"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_primary | 指定したCcPrimaryIdを確認してください\nnot_found | tsig | 指定したTSIGを確認してください\ninvalid | address | 指定したaddressを確認してください\nduplicated | address | 指定したaddressを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCcPrimary",
        "summary": "プライマリネームサーバ設定の削除",
        "description": "指定したCcPrimaryIdのプライマリネームサーバを削除します。\n",
        "tags": [
          "cc_primaries"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_primary | 指定したCcPrimaryIdを確認してください\nforbidden | cc_primary | 有効のため削除できません\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common_configs/{CommonConfigId}/cc_sec_notified_servers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        }
      ],
      "get": {
        "operationId": "getCcSecNotifiedServerList",
        "summary": "DNS NOTIFY設定の一覧取得",
        "description": "DNS NOTIFYの設定の一覧を取得します。\n",
        "tags": [
          "cc_sec_notified_servers"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcSecNotifiedServers"
                },
                "examples": {
                  "GetCcSecNotifiedServers": {
                    "$ref": "#/components/examples/GetCcSecNotifiedServers"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postCcSecNotifiedServer",
        "summary": "DNS NOTIFY設定の作成",
        "description": "新しくDNS NOFITYを作成します。\\\n作成できる最大件数は256件です。\n",
        "tags": [
          "cc_sec_notified_servers"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCcSecNotifiedServer"
              },
              "examples": {
                "PostCcSecNotifiedServers": {
                  "$ref": "#/components/examples/PostCcSecNotifiedServer"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | tsig | 指定したTSIG鍵を確認してください\ninvalid | address | 指定したaddressを確認してください\ntoo_many | address | 登録の上限数を超えています\nduplicated | address | 既に登録されています\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common_configs/{CommonConfigId}/cc_sec_notified_servers/{CcSecNotifiedServerId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        },
        {
          "$ref": "#/components/parameters/CcSecNotifiedServerId"
        }
      ],
      "get": {
        "operationId": "getCcSecNotifiedServer",
        "summary": "DNS NOTIFY設定の取得",
        "description": "指定したCcSecNotifiedServerIdのDNS NOTIFYを取得します。\n",
        "tags": [
          "cc_sec_notified_servers"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcSecNotifiedServer"
                },
                "examples": {
                  "GetCcSecNotifiedServer": {
                    "$ref": "#/components/examples/GetCcSecNotifiedServer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_sec_notified_server | 指定したCcSecNotifiedServerIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchCcSecNotifiedServer",
        "summary": "DNS NOTIFY設定の更新",
        "description": "指定したCcSecNotifiedServerIdのDNS NOTIFYを更新します。\n",
        "tags": [
          "cc_sec_notified_servers"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCcSecNotifiedServer"
              },
              "examples": {
                "PatchCcSecNotifiedServer": {
                  "$ref": "#/components/examples/PatchCcSecNotifiedServer"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_sec_notified_server | 指定したCcSecNotifiedServerIdを確認してください\nnot_found | tsig | 指定したTSIGを確認してください\ninvalid | address | 指定したaddressを確認してください\nduplicated | address | 指定したaddressを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCcSecNotifiedServer",
        "summary": "DNS NOTIFY設定の削除",
        "description": "指定したCcSecNotifiedServerIdのDNS NOTIFYを削除します。\n",
        "tags": [
          "cc_sec_notified_servers"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_sec_notified_server | 指定したCcSecNotifiedServerIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common_configs/{CommonConfigId}/cc_sec_transfer_acls": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        }
      ],
      "get": {
        "operationId": "getCcSecTransferAclList",
        "summary": "ゾーン転送ACLの一覧取得",
        "description": "ゾーン転送ACLの設定の一覧を取得します。\n",
        "tags": [
          "cc_sec_transfer_acls"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcSecTransferAcls"
                },
                "examples": {
                  "GetCcSecTransferAcls": {
                    "$ref": "#/components/examples/GetCcSecTransferAcls"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postCcSecTransferAcl",
        "summary": "ゾーン転送ACLの作成",
        "description": "新しくゾーン転送ACLを作成します。\\\n作成できる最大件数は10件です。\n",
        "tags": [
          "cc_sec_transfer_acls"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCcSecTransferAcl"
              },
              "examples": {
                "PostCcSecTransferAcls": {
                  "$ref": "#/components/examples/PostCcSecTransferAcl"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | tsig | 指定したTSIG鍵を確認してください\ninvalid | network | 指定したnetworkを確認してください\ntoo_many | network | 登録の上限数を超えています\nduplicated | network | 指定したnetworkを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common_configs/{CommonConfigId}/cc_sec_transfer_acls/{CcSecTransferAclId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        },
        {
          "$ref": "#/components/parameters/CcSecTransferAclId"
        }
      ],
      "get": {
        "operationId": "getCcSecTransferAcl",
        "summary": "ゾーン転送ACLの取得",
        "description": "指定したCcSecTransferAclIdのゾーン転送ACLを取得します。\n",
        "tags": [
          "cc_sec_transfer_acls"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcSecTransferAcl"
                },
                "examples": {
                  "GetCcSecTransferAcl": {
                    "$ref": "#/components/examples/GetCcSecTransferAcl"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_sec_transfer_acl | 指定したCcSecTransferAclIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchCcSecTransferAcl",
        "summary": "ゾーン転送ACLの更新",
        "description": "指定したCcSecTransferAclIdのゾーン転送ACLを更新します。\n",
        "tags": [
          "cc_sec_transfer_acls"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCcSecTransferAcl"
              },
              "examples": {
                "PatchCcSecTransferAcl": {
                  "$ref": "#/components/examples/PatchCcSecTransferAcl"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_sec_transfer_acl | 指定したCcSecTransferAclIdを確認してください\nnot_found | tsig | 指定したTSIGを確認してください\ninvalid | network | 指定したnetworkを確認してください\nduplicated | network | 指定したnetworkを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCcSecTransferAcl",
        "summary": "ゾーン転送ACLの削除",
        "description": "指定したCcSecTransferAclIdのゾーン転送ACLを削除します。\n",
        "tags": [
          "cc_sec_transfer_acls"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | cc_sec_transfer_acl | 指定したCcSecTransferAclIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common_configs/{CommonConfigId}/cc_notice_accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        }
      ],
      "get": {
        "operationId": "getCcNoticeAccountList",
        "summary": "通知先アカウント設定の一覧取得",
        "description": "通知先アカウントの設定の一覧を取得します。\n",
        "tags": [
          "cc_notice_accounts"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcNoticeAccounts"
                },
                "examples": {
                  "GetCcNoticeAccounts": {
                    "$ref": "#/components/examples/GetCcNoticeAccounts"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postCcNoticeAccount",
        "summary": "通知先アカウント設定の作成",
        "description": "新しく通知先アカウントを作成します。\n",
        "tags": [
          "cc_notice_accounts"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCcNoticeAccount"
              },
              "examples": {
                "PostCcNoticeAccounts": {
                  "$ref": "#/components/examples/PostCcNoticeAccount"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\nduplicated | resource_name | 指定したCcNoticeAccountResourceNameは既に登録されています\ninvalid_length | resource_name | 指定したCcNoticeAccountResourceNameの文字数を確認してください\ninvalid_format | resource_name | 指定したCcNoticeAccountResourceNameのフォーマットを確認してください\ntoo_many | name | 登録の上限数を超えています\ninvalid_format | name | 指定したアカウント名のフォーマットを確認してください\ninvalid_char_type | mail | 指定したメールアドレスの文字種を確認してください\ninvalid_format | mail | 指定したメールアドレスのフォーマットを確認してください\nrequired | country_code | 電話番号を指定する場合は国番号を指定する必要があります\nconflicted | country_code | 電話番号を指定していない場合は国番号を指定しないでください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common_configs/{CommonConfigId}/cc_notice_accounts/{CcNoticeAccountResourceName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommonConfigId"
        },
        {
          "$ref": "#/components/parameters/CcNoticeAccountResourceName"
        }
      ],
      "get": {
        "operationId": "getCcNoticeAccount",
        "summary": "通知先アカウントの取得",
        "description": "指定したCcNoticeAccountResourceNameの通知先アカウント設定を取得します。\n",
        "tags": [
          "cc_notice_accounts"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCcNoticeAccount"
                },
                "examples": {
                  "GetCcNoticeAccount": {
                    "$ref": "#/components/examples/GetCcNoticeAccount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\nnot_found | cc_notice_account | 指定したCcNoticeAccountResourceNameを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchCcNoticeAccount",
        "summary": "通知先アカウント設定の更新",
        "description": "指定したCcNoticeAccountResourceNameの通知先アカウント設定を更新します。\\\nアカウントに登録されたメールアドレスや電話番号を削除したい場合は、空文字を指定してください。\n",
        "tags": [
          "cc_notice_accounts"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCcNoticeAccount"
              },
              "examples": {
                "PatchCcNoticeAccount": {
                  "$ref": "#/components/examples/PatchCcNoticeAccount"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\nnot_found | cc_notice_account | 指定したCcNoticeAccountResourceNameを確認してください\ninvalid_format | name | 指定したアカウント名のフォーマットを確認してください\ninvalid_char_type | mail | 指定したメールアドレスの文字種を確認してください\ninvalid_format | mail | 指定したメールアドレスのフォーマットを確認してください\nrequired | country_code | 国番号を指定してください\nconflicted | country_code | 電話番号を指定してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCcNoticeAccount",
        "summary": "通知先アカウント設定の削除",
        "description": "指定したCcNoticeAccountResourceNameの通知先アカウント設定を削除します。\n",
        "tags": [
          "cc_notice_accounts"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | common_config | 指定したCommonConfigIdを確認してください\nnot_found | cc_notice_account | 指定したCcNoticeAccountResourceNameを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/common_configs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getCommonConfigList",
        "summary": "共通設定の一覧取得",
        "description": "共通設定の一覧を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsName"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommonConfigs"
                },
                "examples": {
                  "GetCommonConfigs": {
                    "$ref": "#/components/examples/GetCommonConfigs"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postCommonConfig",
        "summary": "共通設定の作成",
        "description": "新しく共通設定を作成します。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommonConfig"
              },
              "examples": {
                "PostCommonConfig": {
                  "$ref": "#/components/examples/PostCommonConfig"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nduplicated | name | 指定したnameを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/common_configs/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getCommonConfigListCount",
        "summary": "共通設定の件数取得",
        "description": "共通設定の件数を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsName"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCount"
                },
                "examples": {
                  "GetCount": {
                    "$ref": "#/components/examples/GetCount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/common_configs/default": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "patch": {
        "operationId": "patchCommonConfigDefault",
        "summary": "初期適用される共通設定の更新",
        "description": "ゾーンおよびLBドメインを新規追加した場合に、自動で適用される共通設定を切り替えます。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDefaultCommonConfig"
              },
              "examples": {
                "PatchDefaultCommonConfig": {
                  "$ref": "#/components/examples/PatchDefaultCommonConfig"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | common_config | 指定したCommonConfigIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/common_configs/{CommonConfigId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        },
        {
          "$ref": "#/components/parameters/CommonConfigId"
        }
      ],
      "get": {
        "operationId": "getCommonConfig",
        "summary": "共通設定の取得",
        "description": "指定したCommonConfigIdの共通設定を取得します。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommonConfig"
                },
                "examples": {
                  "GetCommonConfig": {
                    "$ref": "#/components/examples/GetCommonConfig"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | common_config | 指定したCommonConfigIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchCommonConfig",
        "summary": "共通設定の更新",
        "description": "指定したCommonConfigIdの共通設定を更新します。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCommonConfig"
              },
              "examples": {
                "PatchCommonConfig": {
                  "$ref": "#/components/examples/PatchCommonConfig"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | common_config | 指定したCommonConfigIdを確認してください\nduplicated | name | 指定したnameを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCommonConfig",
        "summary": "共通設定の削除",
        "description": "指定したCommonConfigIdの共通設定を削除します。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | common_config | 指定したCommonConfigIdを確認してください\nforbidden | common_config | 参照元が存在しているため削除できません\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/common_configs/{CommonConfigId}/copy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        },
        {
          "$ref": "#/components/parameters/CommonConfigId"
        }
      ],
      "post": {
        "operationId": "postCommonConfigCopy",
        "summary": "共通設定のコピー",
        "description": "指定した共通設定と同じ内容の共通設定を別の共通設定名で作成します。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCommonConfig"
              },
              "examples": {
                "PostCommonConfig": {
                  "$ref": "#/components/examples/PostCommonConfig"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | common_config | 指定したCommonConfigIdを確認してください\nduplicated | name | 指定したnameを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/common_configs/{CommonConfigId}/managed_dns": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        },
        {
          "$ref": "#/components/parameters/CommonConfigId"
        }
      ],
      "patch": {
        "operationId": "patchCommonConfigManagedDns",
        "summary": "マネージドDNSサーバの状態更新",
        "description": "マネージドDNSサーバをプライマリネームサーバとして有効もしくは無効とするかの切り替えを行えます。\n",
        "tags": [
          "common_configs"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchManagedDns"
              },
              "examples": {
                "PatchManagedDns": {
                  "$ref": "#/components/examples/PatchManagedDns"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | common_config | 指定したCommonConfigIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/contract_partners": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getContractPartnerList",
        "summary": "DPF連携サービスの一覧取得",
        "description": "DPFが連携しているサービスの一覧を取得します。\n",
        "tags": [
          "contract_partners"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContractPartners"
                },
                "examples": {
                  "GetContractPartners": {
                    "$ref": "#/components/examples/GetContractPartners"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | contract | 指定したContractIdを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts": {
      "get": {
        "operationId": "getContractList",
        "summary": "DPF契約情報の一覧取得",
        "description": "DPF契約情報の一覧を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\n",
        "tags": [
          "contracts"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsServiceCode"
          },
          {
            "$ref": "#/components/parameters/KeywordsContractsPlan"
          },
          {
            "$ref": "#/components/parameters/KeywordsContractsState"
          },
          {
            "$ref": "#/components/parameters/KeywordsContractsFavorite"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          },
          {
            "$ref": "#/components/parameters/KeywordsLabel"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContracts"
                },
                "examples": {
                  "GetContracts": {
                    "$ref": "#/components/examples/GetContracts"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\ninvalid | schema | 指定したパラメータを確認してください\ninvalid | keywords | 指定したパラメータの型を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/count": {
      "get": {
        "operationId": "getContractListCount",
        "summary": "DPF契約情報の件数取得",
        "description": "DPF契約の件数を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\n",
        "tags": [
          "contracts"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsServiceCode"
          },
          {
            "$ref": "#/components/parameters/KeywordsContractsPlan"
          },
          {
            "$ref": "#/components/parameters/KeywordsContractsState"
          },
          {
            "$ref": "#/components/parameters/KeywordsContractsFavorite"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          },
          {
            "$ref": "#/components/parameters/KeywordsLabel"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCount"
                },
                "examples": {
                  "GetCount": {
                    "$ref": "#/components/examples/GetCount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\ninvalid | schema | 指定したパラメータを確認してください\ninvalid | keywords | 指定したパラメータの型を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getContract",
        "summary": "DPF契約情報の取得",
        "description": "指定したContractIdのDPF契約を取得します。\n",
        "tags": [
          "contracts"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContract"
                },
                "examples": {
                  "GetContract": {
                    "$ref": "#/components/examples/GetContract"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchContract",
        "summary": "DPF契約情報の更新",
        "description": "指定したContractIdのDPF契約を更新します。\n",
        "tags": [
          "contracts"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchContract"
              },
              "examples": {
                "PatchContract": {
                  "$ref": "#/components/examples/PatchContract"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/labels": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getContractLabels",
        "summary": "DPF契約情報のラベル一覧取得",
        "description": "指定したContractIdのラベルの一覧を取得します。\n",
        "tags": [
          "contracts"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetContractLabelsSuccessResponse"
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putContractLabels",
        "summary": "DPF契約情報のラベル一括更新",
        "description": "指定したContractIdのラベルを一括更新します。\\\nエラー発生時はErrorDetailsにtargetキーが付与され、問題の箇所が特定できます。\n",
        "tags": [
          "contracts"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PutContractLabels"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/Accepted"
          },
          "400": {
            "$ref": "#/components/responses/PutContractLabelsBadRequest"
          }
        }
      }
    },
    "/contracts/{ContractId}/zones": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getContractsZoneList",
        "summary": "DPF契約に紐付くゾーンの一覧取得",
        "description": "指定したContractIdのDPF契約に紐付くゾーンの一覧を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\n",
        "tags": [
          "zones (contracts)"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsServiceCode"
          },
          {
            "$ref": "#/components/parameters/KeywordsName"
          },
          {
            "$ref": "#/components/parameters/KeywordsNetwork"
          },
          {
            "$ref": "#/components/parameters/KeywordsZonesState"
          },
          {
            "$ref": "#/components/parameters/KeywordsZonesFavorite"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          },
          {
            "$ref": "#/components/parameters/KeywordsCommonConfigId"
          },
          {
            "$ref": "#/components/parameters/KeywordsZoneProxyEnabled"
          },
          {
            "$ref": "#/components/parameters/KeywordsLabel"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetZones"
                },
                "examples": {
                  "GetZones": {
                    "$ref": "#/components/examples/GetZones"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\ninvalid | keywords | 指定したパラメータの型を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/zones/common_configs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "patch": {
        "operationId": "patchContractsZoneCommonConfigs",
        "summary": "DPF契約に紐付くゾーンの共通設定の更新",
        "description": "指定したContractIdの共通設定を切り替えます。\n",
        "tags": [
          "zones (contracts)"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchContractsZones"
              },
              "examples": {
                "PatchCommonConfig": {
                  "$ref": "#/components/examples/PatchContractsZones"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nnot_found | common_config | 指定した共通設定を確認してください\nnot_found | zones | 指定したゾーンを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/zones/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getContractsZoneListCount",
        "summary": "DPF契約に紐付くゾーンの件数取得",
        "description": "指定したContractIdのDPF契約に紐付くゾーンの件数を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\n",
        "tags": [
          "zones (contracts)"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsServiceCode"
          },
          {
            "$ref": "#/components/parameters/KeywordsName"
          },
          {
            "$ref": "#/components/parameters/KeywordsNetwork"
          },
          {
            "$ref": "#/components/parameters/KeywordsZonesState"
          },
          {
            "$ref": "#/components/parameters/KeywordsZonesFavorite"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          },
          {
            "$ref": "#/components/parameters/KeywordsCommonConfigId"
          },
          {
            "$ref": "#/components/parameters/KeywordsZoneProxyEnabled"
          },
          {
            "$ref": "#/components/parameters/KeywordsLabel"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCount"
                },
                "examples": {
                  "GetCount": {
                    "$ref": "#/components/examples/GetCount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\ninvalid | keywords | 指定したパラメータの型を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/lb_domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getContractsLbDomainList",
        "summary": "DPF契約に紐付くLBドメインの一覧取得",
        "description": "指定したContractIdのDPF契約に紐付くLBドメインの一覧を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\\\nエラー発生時はErrorDetailsにtargetキーが付与され、問題の箇所が特定できます。\n",
        "tags": [
          "lb_domains (contracts)"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsServiceCode"
          },
          {
            "$ref": "#/components/parameters/KeywordsName"
          },
          {
            "$ref": "#/components/parameters/KeywordsLbDomainState"
          },
          {
            "$ref": "#/components/parameters/KeywordsLbDomainFavorite"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          },
          {
            "$ref": "#/components/parameters/KeywordsCommonConfigId"
          },
          {
            "$ref": "#/components/parameters/KeywordsLabel"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLbDomains"
                },
                "examples": {
                  "GetLbDomains": {
                    "$ref": "#/components/examples/GetLbDomains"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\ninvalid_char_type_value | keywords | 指定したパラメータの文字種を確認してください\ninvalid_type_value | keywords | 指定したパラメータの型を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetBadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/lb_domains/common_configs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "patch": {
        "operationId": "patchContractsLbDomainCommonConfigs",
        "summary": "DPF契約に紐付くLBドメインの共通設定の更新",
        "description": "指定したContractIdの共通設定を切り替えます。\\\nエラー発生時はErrorDetailsにtargetキーが付与され、問題の箇所が特定できます。\n",
        "tags": [
          "lb_domains (contracts)"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchContractsLbDomains"
              },
              "examples": {
                "PatchCommonConfig": {
                  "$ref": "#/components/examples/PatchContractsLbDomains"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\nnot_found | common_config | 指定した共通設定を確認してください\nnot_found | lb_domains | 指定したLbDomainIdを確認してください\ninvalid_char_type_id | lb_domains | 指定したLbDomainIdの文字種を確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetBadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{ContractId}/lb_domains/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ContractId"
        }
      ],
      "get": {
        "operationId": "getContractsLbDomainListCount",
        "summary": "DPF契約に紐付くLBドメインの件数取得",
        "description": "指定したContractIdのDPF契約に紐付くLBドメインの件数を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\\\nエラー発生時はErrorDetailsにtargetキーが付与され、問題の箇所が特定できます。\n",
        "tags": [
          "lb_domains (contracts)"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsServiceCode"
          },
          {
            "$ref": "#/components/parameters/KeywordsName"
          },
          {
            "$ref": "#/components/parameters/KeywordsLbDomainState"
          },
          {
            "$ref": "#/components/parameters/KeywordsLbDomainFavorite"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          },
          {
            "$ref": "#/components/parameters/KeywordsCommonConfigId"
          },
          {
            "$ref": "#/components/parameters/KeywordsLabel"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCount"
                },
                "examples": {
                  "GetCount": {
                    "$ref": "#/components/examples/GetCount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | contract | 指定したContractIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\ninvalid_char_type_value | keywords | 指定したパラメータの文字種を確認してください\ninvalid_type_value | keywords | 指定したパラメータの型を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetBadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/{ZoneId}/default_ttl": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ZoneId"
        }
      ],
      "get": {
        "operationId": "getDefaultTtlList",
        "summary": "デフォルトTTLの取得",
        "description": "デフォルトTTLの一覧を取得します。\n",
        "tags": [
          "default_ttl"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDefaultTtl"
                },
                "examples": {
                  "GetDefaultTtl": {
                    "$ref": "#/components/examples/GetDefaultTtl"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | zone | 指定したZoneIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchDefaultTtl",
        "summary": "デフォルトTTLの更新",
        "description": "デフォルトTTLを更新します。\\\n[**編集中レコードのゾーン反映**](#tag/zones/operation/patchZoneChanges)を実行するまでは権威サーバには反映されません。\n",
        "tags": [
          "default_ttl"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDefaultTtl"
              },
              "examples": {
                "PatchDefaultTtl": {
                  "$ref": "#/components/examples/PatchDefaultTtl"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | zone | 指定したZoneIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/{ZoneId}/default_ttl/changes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ZoneId"
        }
      ],
      "delete": {
        "operationId": "deleteDefaultTtlChanges",
        "summary": "編集中デフォルトTTLの取消",
        "description": "デフォルトTTLの操作を取消します。\n",
        "tags": [
          "default_ttl"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | zone | 指定したZoneIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\nforbidden | default_ttl | デフォルトTTLの状態を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zones/{ZoneId}/default_ttl/diffs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ZoneId"
        }
      ],
      "get": {
        "operationId": "getDefaultTtlDiffs",
        "summary": "デフォルトTTLの編集差分の取得",
        "description": "現在DNSに登録されているデフォルトTTLと反映予定のデフォルトTTLの差分一覧を取得します。\n",
        "tags": [
          "default_ttl"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDefaultTtlDiffs"
                },
                "examples": {
                  "GetDiffs": {
                    "$ref": "#/components/examples/GetDiffsDefaultTtl"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | zone | 指定したZoneIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delegations": {
      "get": {
        "operationId": "getDelegationList",
        "summary": "ネームサーバ申請候補の一覧取得",
        "description": "ネームサーバとして申請可能なゾーンの候補の一覧を取得します。\\\n\"_keywords\" から始まるパラメータは、合計で30個まで指定可能です。\n",
        "tags": [
          "delegations"
        ],
        "security": [
          {
            "DPFViewer": [
              "dpf_read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/KeywordsFullText"
          },
          {
            "$ref": "#/components/parameters/KeywordsServiceCode"
          },
          {
            "$ref": "#/components/parameters/KeywordsName"
          },
          {
            "$ref": "#/components/parameters/KeywordsNetwork"
          },
          {
            "$ref": "#/components/parameters/KeywordsZonesFavorite"
          },
          {
            "$ref": "#/components/parameters/KeywordsDescription"
          },
          {
            "$ref": "#/components/parameters/KeywordsDelegationsRequested"
          },
          {
            "$ref": "#/components/parameters/KeywordsLabel"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDelegations"
                },
                "examples": {
                  "GetDelegations": {
                    "$ref": "#/components/examples/GetDelegations"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\ninvalid | schema | 指定したパラメータを確認してください\ninvalid | keywords | 指定したパラメータの型を確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postDelegation",
        "summary": "ネームサーバ申請",
        "description": "指定したゾーンを申請します。\n",
        "tags": [
          "delegations"
        ],
        "security": [
          {
            "DPFOperator": [
              "dpf_write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostDelegations"
              },
              "examples": {
                "PostDelegations": {
                  "$ref": "#/components/examples/PostDelegations"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "AsyncResponse": {
                    "$ref": "#/components/examples/AsyncResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\n\n<details close>\n<summary>ErrorDetails</summary>\n\ncode | attribute | 対処方法\n-----|-----------|----------\nnot_found | zones | 指定したZoneIdを確認してください\ninvalid | schema | 指定したパラメータを確認してください\n\n</details>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                },
                "examples": {
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
[...]
